doctype html
html
	head
		meta(charset='utf-8')
		title= title

		script(src='/javascripts/jquery-3.1.1.js')
		script(src='/javascripts/main.js')

		link(rel='stylesheet', href='/stylesheets/style.css')

		link(rel='stylesheet', href='/semantic/semantic.css')
		script(src='/semantic/semantic.js')

		link(rel='stylesheet' type='text/css' media='screen' href='/datatable/jquery.dataTables.min.css')
		script(src='/datatable/jquery.dataTables.min.js')
		link(rel='stylesheet' type='text/css' media='screen' href='/datatable/dataTables.semanticui.css')
		script(src='/datatable/dataTables.semanticui.js')

		link(rel='stylesheet' type='text/css' media='screen' href='/datatable/select/select.semanticui.css')
		script(src='/datatable/select/dataTables.select.js')

		link(rel='stylesheet' type='text/css' media='screen' href='/datatable/responsive/responsive.semanticui.css')
		script(src='/datatable/responsive/responsive.semanticui.js')
		script(src='/datatable/responsive/dataTables.responsive.js')

		link(rel='stylesheet' type='text/css' media='screen' href='/datatable/colreorder/colReorder.semanticui.css')
		script(src='/datatable/colreorder/dataTables.colReorder.js')

		link(rel='stylesheet' type='text/css' media='screen' href='/datatable/buttons/buttons.semanticui.css')
		script(src='/datatable/buttons/dataTables.buttons.js')
		script(src='/datatable/buttons/buttons.semanticui.js')
		script(src='/datatable/buttons/buttons.colVis.js')
		script(src='/datatable/buttons/buttons.flash.js')
		script(src='/datatable/buttons/buttons.html5.js')
		script(src='/datatable/buttons/buttons.print.js')
		script(src='/datatable/buttons/jszip.min.js')
		script(src='/datatable/buttons/pdfmake.min.js')
		script(src='/datatable/buttons/vfs_fonts.js')

		link(rel='stylesheet' type='text/css' media='screen' href='/datatable/scroller/scroller.semanticui.css')
		script(src='/datatable/scroller/dataTables.scroller.js')

		link(rel='stylesheet' type='text/css' media='screen' href='/datatable/fixedcolumns/fixedColumns.semanticui.css')
		script(src='/datatable/fixedcolumns/dataTables.fixedColumns.js')

		script(src='/datatable/editlinerow/dataTables.cellEdit.js')
		//-PARA SUMA DE COLUMNAS
		script(src='/datatable/sumcol/sum().js')

		script(src='/javascripts/sweetalert/sweetalert.min.js')
		script(src='/javascripts/sweetalert/sweetalert-dev.js')
		link(rel='stylesheet' type='text/css' href='/javascripts/sweetalert/sweetalert.css')

		script(src='/javascripts/jquery-ui.min_1_11_4.js')
		link(rel='stylesheet' type='text/css' href='/stylesheets/jquery-ui.css')

		//-PARA MASCARAS DE INPUTS
		script(src='/javascripts/inputmask/inputmask.js')
		//-script(src='/javascripts/inputmask/inputmask.???.Extensions.js')
		script(src='/javascripts/inputmask/jquery.inputmask.js')

		//-PARA BUSCAR DATOS EN UN DATATABLE
		script(src='/datatable/fnFindCellRowIndexes.js')

		//-PARA REPORTES PDF
		script(src='/javascripts/pdfmake/pdfmake.js')
		script(src='/javascripts/pdfmake/vfs_fonts.js')

		//-PARA DTPICKER JQUERY
		script(src='/javascripts/dtpicker_es.js')
		//-PARA DTPICKER flatpickr
		link(rel='stylesheet', href='/javascripts/flatpickr/flatpickr.min.css')
		script(src='/javascripts/flatpickr/flatpickr.min.js')
		script(src='/javascripts/flatpickr/es.js')

		//-PARA JSBARCODE
		script(src='/javascripts/jsbarcode/JsBarcode.all.min.js')

	body
		block content